<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="com.jiuhuan.plan.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <com.jiuhuan.plan.Config>
            <setting name="image_home" serializeAs="String">
                <value>home.png</value>
            </setting>
            <setting name="icon_logo" serializeAs="String">
                <value>logo.ico</value>
            </setting>
            <setting name="database_server" serializeAs="String">
                <value>192.168.1.209</value>
            </setting>
            <setting name="database_user" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="database_password" serializeAs="String">
                <value>hao123.com</value>
            </setting>
            <setting name="database_name" serializeAs="String">
                <value>plan</value>
            </setting>
            <setting name="database_timeout" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="database_reconnect_time" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="sql_machine_team_findall" serializeAs="String">
                <value>SELECT TEAM_CODE AS FCode,TEAM_DESCRIPTION AS FName,TEAM_CAPACITY AS FCapacity,TEAM_RATIO AS FRatio,REMARK AS FRemark FROM CQJH.dbo.MACHINE_TEAM</value>
            </setting>
            <setting name="task_helper_interval_default" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="log_upload_interval" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="sql_workday_findall" serializeAs="String">
                <value>SELECT * FROM Workday</value>
            </setting>
            <setting name="sql_workday_deleteall" serializeAs="String">
                <value>DELETE Workday</value>
            </setting>
            <setting name="sql_mo_findall" serializeAs="String">
                <value>SELECT m1.DOC_NO as FBillNo,m1.DOC_DATE as FDate,i1.ITEM_CODE as FNumber,i1.ITEM_NAME as FName,i1.ITEM_SPECIFICATION as FModel
, CASE WHEN m1.STATUS = '1' THEN '未生产'
	   WHEN m1.STATUS = '2' THEN '已发料'
	   WHEN m1.STATUS = '3' THEN '生产中'
  END AS FState
,MIS.是否缺料 AS FLack                  --是否缺料
,PLAN_QTY as FQty
,COMPLETED_QTY as FCompletedQty           --完工数量
,SCRAP_QTY as FScrapQty                   --报废数量
,XRECEIPT_SETS as FReceiptQty             --退料数量
,PLAN_START_DATE as FPlanStartDate        --计划开工
,PLAN_COMPLETE_DATE as FPlanCompletedDate --计划完工
,m1.REMARK as FRemark
FROM CQJH.dbo.MO m1
INNER JOIN CQJH.dbo.ITEM i1 ON m1.ITEM_ID=i1.ITEM_BUSINESS_ID
LEFT JOIN v_MoInventoryStatus MIS ON m1.DOC_NO = MIS.工单号
WHERE 1=1
AND m1.RELEASE_FLAG=1         --下达
AND m1.STATUS IN ('1','2','3')   --1：未生产；2：已发料；3：生产中
AND m1.PLAN_COMPLETE_DATE &gt;= '{0}' AND m1.PLAN_COMPLETE_DATE &lt;= '{1}'</value>
            </setting>
            <setting name="sql_work_center_findall" serializeAs="String">
                <value>SELECT WORK_CENTER_CODE,WORK_CENTER_NAME FROM CQJH.dbo.WORK_CENTER</value>
            </setting>
            <setting name="v_operation_findall_by_mo" serializeAs="String">
                <value>select * from v_operation_findall_by_mo where FBillNo in ({0})</value>
            </setting>
            <setting name="v_schedule_record_findall" serializeAs="String">
                <value>SELECT * FROM v_ScheduleRecord WHERE 1=1</value>
            </setting>
            <setting name="v_operation_record_findall" serializeAs="String">
                <value>SELECT * FROM v_OperationRecord WHERE 1=1</value>
            </setting>
            <setting name="v_schedule_details_record_findall" serializeAs="String">
                <value>SELECT * FROM v_ScheduleDetailsRecord WHERE 1=1</value>
            </setting>
            <setting name="sql_user_name_password" serializeAs="String">
                <value>SELECT * FROM [User] WHERE FName='{0}' AND FPassword='{1}'</value>
            </setting>
            <setting name="v_schedule_final_record_findall" serializeAs="String">
                <value>SELECT * FROM v_ScheduleFinalRecord WHERE 1=1</value>
            </setting>
            <setting name="v_schedule_final_findall_by_mo" serializeAs="String">
                <value>SELECT * FROM v_schedule_final_findall_by_mo where FBillNo in ({0})</value>
            </setting>
            <setting name="sql_schedule_final_record_deleteall" serializeAs="String">
                <value>DELETE ScheduleFinalRecord
WHERE 1=1
AND FOperationPlanStartDate&gt;='{0}' AND FOperationPlanStartDate&lt;='{1}'
AND FUser = '{2}'
AND FClasses LIKE '%{3}%'</value>
            </setting>
            <setting name="v_MoInventoryStatus_D_find_by_mo" serializeAs="String">
                <value>select * from v_MoInventoryStatus_D where FBillNo = '{0}' AND FInventoryStatus&lt;&gt;'充足'</value>
            </setting>
            <setting name="sql_mo_d_find_by_billno" serializeAs="String">
                <value>SELECT ITEM_CODE AS MaterialCode, CAST(REQUIRED_QTY AS decimal(18,3)) AS Quantity
FROM [CQJH].dbo.MO_D
INNER JOIN [CQJH].dbo.ITEM ON MO_D.ITEM_ID = ITEM.ITEM_BUSINESS_ID
INNER JOIN [CQJH].dbo.MO ON MO_D.MO_ID = MO.MO_ID
WHERE MO.DOC_NO = '{0}'</value>
            </setting>
            <setting name="v_StockAvailableQuantity_findall" serializeAs="String">
                <value>SELECT * FROM v_StockAvailableQuantity</value>
            </setting>
            <setting name="sql_stamp_record_silian_data_findall" serializeAs="String">
                <value>SELECT * FROM coc.dbo.StampRecordSilianData WHERE 1=1</value>
            </setting>
        </com.jiuhuan.plan.Config>
    </userSettings>
</configuration>
